.menu {
    background: #D5B0AC;
    color: #402E2A;
    font-weight: bold;
    text-align: center;
    position: relative;
}

.menu span {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    position: relative;
}

.menu span:hover {
    background: #9CD08F;
    color: #FFFFFF;
    cursor: pointer;
}

.sub-menu {
    display: none;
    position: absolute;
}

span:hover > .sub-menu {
    display: block;
}

.sub-menu span {
    display: block;
}

.sub-menu .sub-menu {
    left: 100%;
    top: 0;
}
